[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pytest = "*"
coverage = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
