[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "~=2.17.0"
pydantic = "~=1.9.0"
python-dotenv = "~=0.19.2"

[dev-packages]
black = "~=22.1.0"
pytest = "~=6.2.5"
coverage = "~=6.3.1"
pytest-mock = "~=3.7.0"

[requires]
python_version = "3.9"
